.destination{
    display: flex;
    margin: 20px;
}

.style-form{
    width: 300px;

    margin: 50px 30px;
    background-color: rgb(152, 158, 156);
}
.style-center{
    text-align: center;
}
.image{
    width: 1000px;
    height: 600px;
}